/* Rules */
:root {
    /* Sizes */
    --header-bar-height: 24.4px;
    --sidebar-width: 300px;
    --qr-top-offset: 140px;
    /* General fallback */
    --bg-image-0: url(https://files.catbox.moe/1vfhk8.png);
}

html.yotsuba-b {
    --bg-color: #eef2ff;
    --border-color: #b7c5d9;
}

html.yotsuba {
    --bg-color: #ffffee;
    --border-color: #d9bfb7;
    --qr-a-color: #800000;
}

body.board_jp {
    --bg-image-0: url(https://a.pomf.cat/boywbo.png);
    --bg-image-1: url(https://a.pomf.cat/hhwhde.png);
}

/* Sidebar */
body { width: calc(100% - var(--sidebar-width)); float: right; }
body::before {border-right: 1px solid;}
html.yotsuba-b body::before, html.yotsuba-b #qr, html.yotsuba-b #thread-watcher { border-color: var(--border-color); }
html.yotsuba body::before, html.yotsuba #qr, html.yotsuba #thread-watcher { border-color: var(--border-color); }
.boardBanner { position: fixed; top: var(--header-bar-height); left: 0; width: var(--sidebar-width); }
#bannerCnt { margin: 0; border-left: 0; border-right: 0; }

/* Sidebar Background */
body.is_index .thread:nth-of-type(2)::before, body.is_thread .thread::before { background-position: center bottom; background-size: 280px auto; background-repeat: no-repeat; }
body::before, body.is_index .thread:nth-of-type(2)::before, body.is_thread .thread::before { content: ''; display: block; width: var(--sidebar-width); height: calc(100vh - var(--header-bar-height)); position: fixed; top: var(--header-bar-height); left: 0; }
body.is_index .thread:nth-of-type(2)[id$="0"]::before, body.is_thread .thread[id$="0"]::before { background-image: var(--bg-image-0); }
body.is_index .thread:nth-of-type(2)[id$="1"]::before, body.is_thread .thread[id$="1"]::before { background-image: var(--bg-image-1, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="2"]::before, body.is_thread .thread[id$="2"]::before { background-image: var(--bg-image-2, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="3"]::before, body.is_thread .thread[id$="3"]::before { background-image: var(--bg-image-3, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="4"]::before, body.is_thread .thread[id$="4"]::before { background-image: var(--bg-image-4, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="5"]::before, body.is_thread .thread[id$="5"]::before { background-image: var(--bg-image-5, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="6"]::before, body.is_thread .thread[id$="6"]::before { background-image: var(--bg-image-6, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="7"]::before, body.is_thread .thread[id$="7"]::before { background-image: var(--bg-image-7, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="8"]::before, body.is_thread .thread[id$="8"]::before { background-image: var(--bg-image-8, var(--bg-image-0)); }
body.is_index .thread:nth-of-type(2)[id$="9"]::before, body.is_thread .thread[id$="9"]::before { background-image: var(--bg-image-9, var(--bg-image-0)); }

/* QR */
body.board_b #qr { top: calc(var(--header-bar-height) + var(--qr-top-offset) + 45px) !important; }
#qr { top: calc(var(--header-bar-height) + var(--qr-top-offset)) !important; left: 0 !important; border: 1px solid; border-left: none; border-right: none; border-radius: 0 !important; box-shadow: none; box-sizing: border-box; width: var(--sidebar-width); }
#qr * { outline: none; border-radius: 0 !important; }
#qr>* { padding: 4px; }
#qr .move { cursor: default; padding-bottom: 0; }
#qr .move>*:not(select) { display: none; }
#qr .move select { width: 100%; -webkit-appearance: none; appearance: none; text-transform: uppercase; font-size: smaller; }
#qr .persona .field:hover { flex-grow: 2; transition: all 0.5s ease; }
#qr .persona> :nth-child(-n+3), #qr .persona>#sjis-toggle { margin-right: 4px; }
#qr .persona>.field[name="sub"] { margin-left: 4px; }
#qr textarea { min-width: 0; width: 100% !important; margin-top: .3em; }
#qr .textarea .field { resize: vertical; }
html.yotsuba #qr a, html.yotsuba #thread-watcher a { color: var(--qr-a-color); }
#qr .move select, #qr button, #qr #file-n-submit input { background: white; }
#qr .captcha-counter, #file-n-submit input, #qr ::placeholder, #qr-no-file { text-transform: uppercase; font-size: x-small; }

/* Captcha */
#qr form { overflow: visible; }
#qr .captcha-counter { position: static !important; }
#qr .captcha-container { position: relative; }
#qr .captcha-container div { display: none; }
#qr iframe { position: fixed; top: calc(var(--header-bar-height) + var(--qr-top-offset)); left: var(--sidebar-width); padding-left: 1em; }
#thread-watcher { top: var(--header-bar-height) !important; left: 0 !important; width: var(--sidebar-width); padding: 0; border: none; border-bottom: 1px solid; box-shadow: none; z-index: 21 !important; }
#thread-watcher .move { cursor: default; }
#thread-watcher .move a.close { display: none; }
